In [1]:
import os
import mlflow
import pandas as pd
import plotly_express as px
import sklearn
import sklearn.model_selection
import sklearn.pipeline
import sklearn.preprocessing
import sklearn.linear_model
import sklearn.ensemble
import sklearn.tree

In [4]:
url = "https://raw.githubusercontent.com/ykerus/experiment-tracking-with-mlflow/main/data/scada.parquet"
data = pd.read_parquet(url).drop(columns=["theoretical_power"])
data

                     active_power  wind_speed  wind_direction  is_curtailed
timestamp
2018-01-01 00:00:00    380.047791    5.311336      259.994904         False
2018-01-01 00:10:00    453.769196    5.672167      268.641113         False
2018-01-01 00:20:00    306.376587    5.216037      272.564789         False
2018-01-01 00:30:00    419.645905    5.659674      271.258087         False
2018-01-01 00:40:00    380.650696    5.577941      265.674286         False
...                           ...         ...             ...           ...
2018-12-31 23:10:00   2963.980957   11.404030       80.502724         False
2018-12-31 23:20:00   1684.353027    7.332648       84.062599         False
2018-12-31 23:30:00   2201.106934    8.435358       84.742500         False
2018-12-31 23:40:00   2515.694092    9.421366       84.297913         False
2018-12-31 23:50:00   2820.466064    9.979332       82.274620         False

[52560 rows x 4 columns]

In [5]:
# write parquet file
data.to_parquet("scada.parquet")

In [6]:
pd.read_parquet("scada.parquet")

                     active_power  wind_speed  wind_direction  is_curtailed
timestamp
2018-01-01 00:00:00    380.047791    5.311336      259.994904         False
2018-01-01 00:10:00    453.769196    5.672167      268.641113         False
2018-01-01 00:20:00    306.376587    5.216037      272.564789         False
2018-01-01 00:30:00    419.645905    5.659674      271.258087         False
2018-01-01 00:40:00    380.650696    5.577941      265.674286         False
...                           ...         ...             ...           ...
2018-12-31 23:10:00   2963.980957   11.404030       80.502724         False
2018-12-31 23:20:00   1684.353027    7.332648       84.062599         False
2018-12-31 23:30:00   2201.106934    8.435358       84.742500         False
2018-12-31 23:40:00   2515.694092    9.421366       84.297913         False
2018-12-31 23:50:00   2820.466064    9.979332       82.274620         False

[52560 rows x 4 columns]